@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --tanne-tawny: #d6510B;
   --tenne-tawny-dark: #d81b60;
}
body{
    font-weight: 300 ;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family:'poppins', sans-serif ;
}
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1 rem;

}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-family: inherit;
    color:var(--tanne-tawny);
}
.search-control::placeholder{
    color: var(--tanne-tawny);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tanne-tawny);
    color:#fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--tenne-tawny-dark);
}
.meal-result{
    margin-top: 4rem;

}
#meal{
    margin: 2.4rem;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: rgb(80, 70, 70);
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto ;
    border-radius: 2rem;
    transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--tenne-tawny-dark);
}
a:hover{
    color: white !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
    display: none;
  }
  /* media queries */
@media screen and (min-width:500px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:768px){
    #meal{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
}
.meal-details{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    color: white;
    background: orangered;
    border-radius: 1rem;
    width: 50%;
    height:70% ;
    overflow: scroll;
    display: none;
    padding: 2rem 0;
}
.showRecipe{
    display: block;
}
.meal-details-content{
    margin: 2rem;
}
.recipe-close-btn{
    position: fixed;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background-color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #673ab7;
    font-weight: 600;
    color: #ffffff;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 23px;
    display: inline-block;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 200px ;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.2 rem;
    font-weight: 700;
    transition: all 0.04s linear;
    text-decoration: none;
}
.itemNotFound{
    grid-template-columns: 1fr!important;
    color: gray;
    font-size: 56px;
    font-weight: 500;
}


